In [53]:
import pandas as pd

In [72]:
subjects = pd.read_excel("subjects.xlsx").set_index('Unnamed: 0')
subjects

,Anonymized,Unnamed: 2,Unnamed: 3,Raw,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
Unnamed: 0,,,,,,,,,,,,,,
NaN,Patient ID,First Name,Last Name,Patient ID,First Name,Last Name,Sex,Height,Weight,Birth Date,Dominant Hand,Email,Phone Number,Address
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0,VPO9KXGA,Sean,Franklin,011958683,Boaz,Erbeznik,M,1.78,104,1954-10-13 00:00:00,NaN,NaN,NaN,NaN
1.0,UH9ECJ20,Paul,Lam,036422657,Ronny,Sayfan,M,1.79,76,1979-09-23 00:00:00,NaN,NaN,NaN,NaN
2.0,HDXILCXN,Edgar,Smith,309292324,Pavel,Andieev,M,1.71,84,1983-04-09 00:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752.0,9QUSR69P,Stacey,Cooper,000297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753.0,DJ3J1ZPC,Alicia,Graham,000217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754.0,WLZ335RI,Daniel,Freeman,000990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755.0,HCPUKSF9,Mary,Miles,000940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756.0,U5PGJ5YM,Dylan,Berger,999900001,Yotam,Mor,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
columns = subjects.iloc(0)
# subjects[1:]
columns[0]

Anonymized        Patient ID
Unnamed: 2        First Name
Unnamed: 3         Last Name
Raw               Patient ID
Unnamed: 5        First Name
Unnamed: 6         Last Name
Unnamed: 7               Sex
Unnamed: 8            Height
Unnamed: 9            Weight
Unnamed: 10       Birth Date
Unnamed: 11    Dominant Hand
Unnamed: 12            Email
Unnamed: 13     Phone Number
Unnamed: 14          Address
Name: nan, dtype: object

In [74]:
def prefix_adder(key, text):
    prefix = "Anonymized " if (key != 'Anonymized' and key != 'Raw' and int(key[9:]) <= 3) or (key == 'Anonymized') else "Raw "
    return prefix + text

new_columns = {}

for column in columns[0].keys():
    new_columns[column] = prefix_adder(column, columns[0][column])

subjects.rename(columns=new_columns, inplace=True)

In [76]:
# subjects = subjects[0:]
for column in subjects.columns:
    column_type = type(subjects[column][0])
    if column_type == 'float':
        subjects[column].fillna(0.0, inplace=True)
    elif column_type == 'int':
        subjects[column].fillna(0, inplace=True)
    elif column_type == 'str':
        subjects[column].fillna('', inplace=True)

In [77]:
subjects

,Anonymized Patient ID,Anonymized First Name,Anonymized Last Name,Raw Patient ID,Raw First Name,Raw Last Name,Raw Sex,Raw Height,Raw Weight,Raw Birth Date,Raw Dominant Hand,Raw Email,Raw Phone Number,Raw Address
Unnamed: 0,,,,,,,,,,,,,,
0.0,VPO9KXGA,Sean,Franklin,011958683,Boaz,Erbeznik,M,1.78,104,1954-10-13 00:00:00,NaN,NaN,NaN,NaN
1.0,UH9ECJ20,Paul,Lam,036422657,Ronny,Sayfan,M,1.79,76,1979-09-23 00:00:00,NaN,NaN,NaN,NaN
2.0,HDXILCXN,Edgar,Smith,309292324,Pavel,Andieev,M,1.71,84,1983-04-09 00:00:00,NaN,NaN,NaN,NaN
3.0,AEJUSHDL,Jacob,Thompson,032017766,Mor,Asher,M,1.75,100,1975-01-29 00:00:00,NaN,NaN,NaN,NaN
4.0,SGQ58CEI,Wendy,Thompson,027144195,Or,Asher,F,1.7,95,1974-05-14 00:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752.0,9QUSR69P,Stacey,Cooper,000297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753.0,DJ3J1ZPC,Alicia,Graham,000217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754.0,WLZ335RI,Daniel,Freeman,000990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755.0,HCPUKSF9,Mary,Miles,000940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756.0,U5PGJ5YM,Dylan,Berger,999900001,Yotam,Mor,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN