In [1]:
import pandas as pd

In [8]:
subjects = pd.read_excel("subjects.xlsx")
subjects

,Unnamed: 0,Anonymized,Unnamed: 2,Unnamed: 3,Raw,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,Patient ID,First Name,Last Name,Patient ID,First Name,Last Name,Sex,Height,Weight,Birth Date,Dominant Hand,Email,Phone Number,Address
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,VPO9KXGA,Sean,Franklin,011958683,Boaz,Erbeznik,M,1.78,104,1954-10-13 00:00:00,NaN,NaN,NaN,NaN
3,1.0,UH9ECJ20,Paul,Lam,036422657,Ronny,Sayfan,M,1.79,76,1979-09-23 00:00:00,NaN,NaN,NaN,NaN
4,2.0,HDXILCXN,Edgar,Smith,309292324,Pavel,Andieev,M,1.71,84,1983-04-09 00:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,752.0,9QUSR69P,Stacey,Cooper,000297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,753.0,DJ3J1ZPC,Alicia,Graham,000217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756,754.0,WLZ335RI,Daniel,Freeman,000990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,755.0,HCPUKSF9,Mary,Miles,000940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,756.0,U5PGJ5YM,Dylan,Berger,999900001,Yotam,Mor,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
columns = subjects.iloc(0)
# subjects[1:]
columns[0]

Unnamed: 0               NaN
Anonymized        Patient ID
Unnamed: 2        First Name
Unnamed: 3         Last Name
Raw               Patient ID
Unnamed: 5        First Name
Unnamed: 6         Last Name
Unnamed: 7               Sex
Unnamed: 8            Height
Unnamed: 9            Weight
Unnamed: 10       Birth Date
Unnamed: 11    Dominant Hand
Unnamed: 12            Email
Unnamed: 13     Phone Number
Unnamed: 14          Address
Name: 0, dtype: object